:root {
  --link-color:  rgb(255, 0, 119);
  --secondary-color: rgb(95,158,160);
  --primary-font: Roboto, sans-serif;
  --secondary-font: 'Courier New', Courier, monospace;
  --primary-font-size: 17px;
  --primary-font-color: #2b2b2b;;
  --secondary-font-color: white;
  --primary-font-weight: 300;

}

* {
  box-sizing: border-box;
}

body {
  color: var(--primary-font-color);
  font-family: var(--primary-font);
  font-size: var(--primary-font-size);
  font-weight: var(--primary-font-weight);
  line-height: 1.5;
  
}

header {
  font-family: var(--secondary-font);
  font-size: 30px;
  font-weight: var(--primary-font-weight);
  line-height: 1.3;
  max-width: 100%;
}

nav a {
  font-family: var(--secondary-font);
 }

h1 {
  color: var(--primary-font-color);
}

a {
  font-family: var(--primary-font);
  color: var(--link-color);
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
}

a:visited {
  color: var(--secondary-color);
}

a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

a:active {
  color: var(--secondary-color);
  opacity: 0.8;
}

button, .button {
  background-color: var(--secondary-color);
  color: var(--secondary-font-color);
  border-radius: 5px;
  font-size: 19px;
  font-weight: 400;
  padding: 10px;
  margin: 15px;
  display: inline-block;
  transition: opacity 0.2s;
}

button:hover, button:focus, .button:hover, .button:focus {
  cursor: pointer;
  opacity: 0.8;
  text-decoration: none;
  color: white;
}

button:active {
  background-color: #A52A2A;
}

form {
  color: var(--primary-font-color);
}

.profile_pic {
  width: 250px;
  float: left;
  margin-right: 40px;
  border-radius: 50%;
}

.page_footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid lightgray;
}

.page-header_item {
  flex: 0 1 150px;
}

.page-header_item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.grid_item {
  display: inline-block;
  width: 33%;
}
@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
    
  }

  .grid_item {
    background-color: lightgray;
    width: auto;
    min-height: auto;
    margin: 0;
    padding: 15px;
  }

  .grid_item:last-child {
    grid-column: 3/3;
    grid-row: 1/3;
  }
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid_item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

.hobbies_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.projects_heading {
  display: flex;
  justify-content: center;
}

.about_container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* CF example for transitions and animations

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 5s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 36s cloud-move-reverse infinite alternate linear;
}
  */

@keyframes balloon_move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(300px, 50px);
  }
}

.balloon {
  animation: 25s balloon_move infinite alternate linear;
}

.contact_heading {
  display: flex;
  justify-content: center;
}

.contact-links {
  display: flex;
  flex-direction: column;
  text-align: center;

}


#contact-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: auto;
}

.standard-label, #send-button {
  margin:15px;
}

.standard-label {
  font-weight: 400;
}

.projects_section {
  padding: 20px;
}

@media all and (max-width: 500px) {
  .profile  {
    width: 300px;
  text-align: center;}
    .profile_pic {
      width: 100px;
      float: none;
      margin: auto;
      margin-top: 10px;
    
  }
}

@media all and (max-width: 500px) {
  .skyline_graphic {
    max-width: 250px;
    margin: 0 auto;

  }
}

.skyline_graphic {
  width: 800px;
  height: 378px;
  margin: 0 auto;
}

@media all and (max-width: 500px) {
  .about_container {
    width: 300px;
  }
}













